<footer class="footer">
    <div class="section-one">
        <div class="offline-stores">
          <div class="stores-content">
            <img src="/assets/store.png" alt="store" class="store-img">
            <div class="offline-content">
              <div class="ft-txt">
                 <div>Online Store</div>

              </div>
            </div>
          </div>
        </div>
        <div class="pincode">
          <div class="stores-content">
            <img src="/assets/medicineImage.png" alt="" class="pin-img">
            <div class="offline-content">
              <div class="ft-txt">
                <div>Medicines</div>
              </div>
            </div>
          </div>
        </div>
        <div class="hp-customer">
          <div class="stores-content">
              <img src="/assets/user.png" alt="" class="user-img">
              <div class="offline-content">
                <div class="ft-txt">
                  <div>Customers</div>
                </div>
              </div>
          </div>
        </div>
      
    </div>
    <div class="section-two">
        <div class="image">
          <img src="assets/MedicoImage-removebg-preview.png" alt=""> 
        </div>
        <div class="content">
          The contents of this website are for informational purposes only and not intended to be a substitute for professional medical advice, diagnosis, or treatment.
        </div>
      </div>
    <div class="container">
      <div class="footer-section">
        <h3>Categories</h3>
        <ul>
          <li><a href="#" routerLink="/wellness">Healthcare Products</a></li>
          <li><a href="#" routerLink="/wellness">Wellness Products</a></li>
          <li><a href="#"  >Medicines</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Company Overview</h3>
        <ul>
            <li><a href="#" routerLink="/about">About Us</a></li>
          </ul>
      </div>
      <div class="footer-section">
        <h3>Customer Service</h3>
        <ul>
            <li><a href="#" routerLink="/tips">Tips</a></li>
            <li><a href="#" routerLink="/doYouKnow">Do you know</a></li>
            <li><a href="#">Phone: 123-456-7890</a></li>
          </ul>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/">Facebook</a>
            <span><fa-icon [icon]="faFacebook"  class="icons"></fa-icon></span>
          </li>
          
          <li>
            <a href="https://www.instagram.com/">Instagram</a>
            <span><fa-icon [icon]="faInstagram"  id="insta"></fa-icon></span>
          </li>
          <li>
            <a href="https://www.linkedin.com/">LinkedIn</a>
            <span><fa-icon [icon]="faLinkedIn" class="icons"></fa-icon></span>
          </li>
          <li>
            <a href="https://twitter.com/">Twitter</a>
            <span><fa-icon [icon]="faTwitter"  id="twitter"></fa-icon></span>
          </li>
          <li>
            <a href="https://youtube.com/">Youtube</a>
            <span><fa-icon [icon]="faYoutube"  id="youtube"></fa-icon></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="footer-section-last">
    <h3>Platforms</h3> -->
    <!-- <span><fa-icon [icon]="faFacebook"  class="icons"></fa-icon></span>
    <span><fa-icon [icon]="faInstagram"  id="insta"></fa-icon></span>
    <span><fa-icon [icon]="faLinkedIn" class="icons"></fa-icon></span>
    <span><fa-icon [icon]="faYoutube"  id="youtube"></fa-icon></span>
    <span><fa-icon [icon]="faTwitter"  id="twitter"></fa-icon></span> -->
    
    <!-- </div> -->
  </footer>
  