<div class="main">
  <div class="navBar">
    <app-main-nav></app-main-nav>
</div>

<div class="form-container">
  <div class="message">
    <p>
      <b>Please rate us</b>
    </p>
  </div>
  <div id="container" [class.readOnly]="readonly">
    <fa-icon [class.rated]="rating >= 5" [icon]="faStar" (click)="setRating(5)"></fa-icon>
    <fa-icon [class.rated]="rating >= 4" [icon]="faStar" (click)="setRating(4)"></fa-icon>
    <fa-icon [class.rated]="rating >= 3" [icon]="faStar" (click)="setRating(3)"></fa-icon>
    <fa-icon [class.rated]="rating >= 2" [icon]="faStar" (click)="setRating(2)"></fa-icon>
    <fa-icon [class.rated]="rating >= 1" [icon]="faStar" (click)="setRating(1)"></fa-icon>
  </div>

  <div class="form">
    <form [formGroup]="feedbackForm">
      <div class="comments">
        <label for="feedbacks"><b>Comment</b></label>
        <textarea formControlName="feedbacks"></textarea>
        <div class="text-danger"
          *ngIf="feedbackForm.get('feedbacks')?.invalid && feedbackForm.get('feedbacks')?.touched">
          Comments are required
        </div>
      </div>
      <div class="button">
        <button type="button"  (click)="saveFeedback()"><b>Submit Feedback</b></button>
      </div>
    </form>
  </div>
  <div class="display">
    <a routerLink="/allFeedbacks" >View Feedbacks</a>
  </div>
</div>

</div>