<nav>
    <div class="main">
        <div class="nav">
            <div class="product-header">
                <div class="product-logo">
                    <img src="\assets\logoCopy.png" alt="image">
                    <div class="logo-name"> MediCo</div>
                </div>
                <div class="product-top-nav">
                    <div class="input">
                        <app-search-bar></app-search-bar>
                    </div>
                    <div class="nav-content">
                        <a href="" routerLink="/home" routerLinkActive="active"><fa-icon [icon]="faHome" class="icons"></fa-icon>Home</a>
                       <a href="" routerLink="/login"> <fa-icon [icon]="faUser" class="icons"></fa-icon>Login</a>
                        <a href="" routerLink="/about"><fa-icon [icon]="faInfoCircle" class="icons"></fa-icon> About Us</a>
                        <a href=""><fa-icon [icon]="faUserPlus" class="icons"></fa-icon> Sign up</a>
                        <a href="" routerLink="/cart"><fa-icon [icon]="faShoppingCart" class="icons" ></fa-icon> Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


