<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="do-you-know">
          <h2 style=" font-size: 28px;
          color: #007bff;">Do You Know?</h2>
          <ul >
            <li>Did you know that regular exercise can help boost your immune system?</li>
            <li>Did you know that getting enough sleep is essential for overall health and well-being?</li>
            <li>Did you know that proper hand hygiene is  most effective ways to prevent the spread of infections?</li>
            <li>Did you know that stress can weaken your immune system and increase your risk of illness?</li>
            <li>Did you know that staying hydrated is important for maintaining proper bodily functions?</li>
            <li>Did you know that eating a diet rich in fruits and vegetables can help reduce the risk of chronic diseases?</li>
            <li>Did you know that laughter can boost your immune system and relieve stress?</li>
            <li>Did you know that deep breathing exercises can help reduce anxiety and promote relaxation?</li>
            <li>Did you know that maintaining strong social connections can lower your risk of depression?</li>
            <li>Did you know that practicing gratitude can improve your overall outlook on life?</li>
          
          </ul>
        </div>
      </div>
    </div>
  </div>
  
