<!-- 
<div class="main">
    <div class="container">
        <div class="navbar">
            <div class="product-logo">
                <img src="\assets\logoCopy.png" alt="Img">
                <h3 class="logo-name">MediCo</h3>
            </div>
                <div class="nav-content">
                    <a  class="bi bi-house" routerLink="/home" routerLinkActive="active">Home</a>
                    <a  routerLink="/medicine" routerLinkActive="active" >Products</a>
                    <a href="" class="bi bi-phone" routerLink="/about">About Us</a>
                    <div class="dropdown">
                        <button class="dropbtn">Login <i class="bi bi-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a href="" routerLink="/login">User</a>
                            <a href=""routerLink="/admin">Admin</a>
                        </div>
                    </div>
                    <a href="">Sign up</a>
                </div>
            
        </div>
        <div class="body">
            <button class="try-now-button">Try it now</button>
        </div>
    </div>
</div> -->

<div class="main">
    <div class="container">
        <div class="navbar">
            <div class="product-logo">
                <img src="\assets\logoCopy.png" alt="Img">
                <h3 class="logo-name">MediCo</h3>
            </div>
            <!-- <div class="product-top-nav"> -->
                <div class="nav-content">
                    <a  class="bi bi-house" routerLink="/home" routerLinkActive="active">Home</a>
                    <a  routerLink="/medicine" routerLinkActive="active" >Products</a>
                    <a href="" class="bi bi-phone" routerLink="/about">About Us</a>
                    <div class="dropdown">
                        <button class="dropbtn">Login <i class="bi bi-caret-down"></i></button>
                        <div class="dropdown-content">
                            <a href="" routerLink="/login">User</a>
                            <a href=""routerLink="/admin">Admin</a>
                        </div>
                    </div>
                    <a href="">Sign up</a>
                </div>
            <!-- </div> -->
        </div>
        <div class="body">
            <button class="try-now-button">Try it now</button>
        </div>
    </div>
</div>
<!-- 
<section>
  <app-category (categorySelected)="onCategorySelected($event)"></app-category>
</section>
<section>
  <router-outlet></router-outlet>
</section> -->



