<body>
    

<div class="main">
    <div class="container">
        <div class="navbar">
            
                <div class="nav-content">
                    <a  class="bi bi-house" routerLink="/home" routerLinkActive="active">Home</a>
                    <a  routerLink="/medicine" routerLinkActive="active" >Products</a>
                    <a href="" class="bi bi-phone" routerLink="/about">About Us</a>
                        <a href="" routerLink="/login">Login</a>
                        <a href="" routerLink="/register">Sign up</a>
                    </div>
                </div>

        </div>
    </div>




</body>