<!-- <div class="container">
<div class="nav">
    <div class="nav-content">
    <div class="product-logo">
        Name
    </div>
    <div class="product-top-nav">
        <a href="" routerLink="/home" routerLinkActive="active">Home</a>
        <a href="" class="bi bi-person">Login</a>
        <a href="" class="bi bi-phone">Contact Us</a>
        <a  routerLink="/AddProduct">Add Product</a>
        <a routerLink="/GetProduct">Get Product</a>
    </div>
    </div>
</div>
<section class="body">
    <
</section>
</div> -->


<div>
    <nav>
        <div class="main">
            <div class="nav">
                <div class="product-header">
                    <div class="product-logo">
                        <img src="\assets\logoCopy.png" alt="image">
                        <div class="logo-name"> MediCo</div>
                    </div>
                    <div class="product-top-nav">
                       
                        <div class="nav-content">
                            <a href="" routerLink="/home" routerLinkActive="active"><fa-icon [icon]="faHome" class="icons"></fa-icon>Home</a>
                           <a href="" routerLink="/login"> <fa-icon [icon]="faUser" class="icons"></fa-icon>login</a>
                            <a href="" routerLink="/about"><fa-icon [icon]="faInfoCircle" class="icons"></fa-icon> About Us</a>
                            <a href=""><fa-icon [icon]="faUserPlus" class="icons"></fa-icon> Sign up</a>
                            <a href=""><fa-icon [icon]="faShoppingCart" class="icons"></fa-icon> Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section>
        <app-sidenav></app-sidenav>
    </section>
</div>
