<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="medical-tips">
          <h2 style=" font-size: 28px;
          color: #007bff;">Medical Tips</h2>
          <ul>
            <li>Eat a balanced diet rich in fruits and vegetables to support your immune system.</li>
            <li>Stay hydrated by drinking plenty of water throughout the day.</li>
            <li>Cover your nose and mouth with a tissue or your elbow when you cough or sneeze.</li>
            <li>Exercise regularly to maintain a healthy body and mind.</li>
            <li>Avoid close contact with individuals who are sick or having symptoms of illness.</li>
            <li>Seek medical advice if you  have concerns about your health.</li>
            <li> Reduce stress through techniques such as deep breathing, meditation, yoga.</li>
            <li>Protect your skin from the sun by wearing sunscreen and protective clothing.</li>
            <li>Limit processed foods, sugary snacks, and beverages to maintain a healthy weight </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
