

 <div class="container-fluid" style="display: flex; justify-content: center; align-items: center;">
  <table class="table table-bordered" style="margin-top: 20px; width: 80%;">
    <thead>
      <tr>
        <th>Id</th>
        <th style="width: 300px;">Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th style="width: 120px;">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td class="value">{{prod.productId}}</td>
        <td class="value" style="width: 300px;">{{prod.name}}</td>
        <td class="value">{{prod.price}}</td>
        <td class="value">{{prod.quantity}}</td>
        <td id="buttons" style="width: 120px;">
          <a [routerLink]="['/admin/edit-product', prod.productId]" style="margin-right: 50px;">
            <i class="fas fa-edit"></i>
          </a>
          <a (click)="deleteProduct(prod.productId)" style="color: red;">
            <i class="fas fa-trash-alt ml-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


