/* .container-fluid{
    margin-top: 30px;
}

  .table{
    margin-left: 20px;
    width: 90%;
    height: auto;
  }
  tr>td{
    text-align: center;
    border: 1px solid;
    width: 100px;
  
  }
  

  .btn-delete{
    text-decoration: none;
    color: white;
  
  }
  tr{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  th{
    width: 100px;
  }

   */