<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<body>
    <!-- <nav>
       
            <img src="/assets/logo.jpeg" alt="not">
           <div>             
                <i></i><button routerLink="/home">
                    Home
                </button>             
                <i></i>
                <button routerLink="/profile">
                Profile
                </button>
                <div id="quan">
                    <span>{{cart.quantity}}</span>
                </div>
                <i id="cart"><i class='bx bxs-cart-add'></i></i>
                <button>
                </button>
            </div>

        
    </nav>  -->
    <div class="nav">
        <app-main-nav></app-main-nav>
        <h1 id="header">Cart</h1>
    </div>
    <div id="container" *ngIf="dialogueBox;else endblock ">
        <div>  
            <section class="innersec"  >
                    <div>
                        <div>
                            <h1> Image</h1>
                        </div>
                        <div>
                            <h1> Name</h1>
                        </div>    
                        <div>
                            <h1>Price</h1>
                        </div>
                        <div>
                            <h1>Quantity</h1>
                        </div>
                        <div>
                            <h1>Total</h1>
                        </div> 
                        <div>
                            <h1>Remove</h1>
                        </div> 
                                
                    </div>
            </section>
            
        
            <section id="values" *ngFor="let product of productsList; let i = index"> 
                <div id="image">
                    <img   [routerLink]="['/medicine/details', product.productId]" [src]="[product.image]" width="100px" height="100px" alt="">
                </div> 
                <div id="name">
                    <span>{{product.name}}</span>
                </div>
                <div id="price">
                    <span>{{product.price}}</span>
                </div>
                <div id="Quantity">
                                
                        <select [(ngModel)]="product.quantityProduct" (change)="onSelectChange($event, product)">
                            <span>QTY : </span>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    
                </div>
                <div id="func">
                    <span>{{product.price * product.quantityProduct}}</span>
                </div>
                <div id="remove">  
                    <button (click)="removeProduct(product)">Remove</button>
                </div>
            </section>
            <div class="btn">
                <button routerLink="/medicine">Continue Shopping</button>
            </div>  
        </div>
        <div class="Bill" *ngIf="cart.amount>0">
          <div>
            <h1>Order Summary</h1>
          </div>
          <div></div>
          <div id="items">
            <span>Items  {{cart.quantity}}</span>
            <span>{{cart.amount}}</span>
          </div>
          <div></div>
          <h1>Free Shipping</h1>
          <div>     
            <h1>Total Cost</h1>
            <h1>{{cart.amount}}</h1>
          </div>
         
        <button id="btn">CHECKOUT</button>
       
        </div>     
    </div>
    
   

<ng-template #endblock>
      <div id="empty">
        <div>
            <div>
            </div>
            <h1>Your Cart Is Empty</h1>
            <h1>Looks Like You Have Nothing In Your Cart : (</h1>
            <button routerLink="/medicine">Continue Shopping</button>
        </div>
      </div>
</ng-template>
  


</body>