
<div class="fluid">
    <div id="left">
        <div class="filter-1">
           Filter
        </div>
       <div class="filter-2">
           Categories
       </div>
       <div class="category">
           <span>
              <input type="checkbox">
              <label for="">Allergies</label>
          </span>
       <span>
           <input type="checkbox">
           <label for="">Ayurvedic</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Anxiety</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Baby Care</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Body Care</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Diabetes</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Homeopathy</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Health Care</label>
       </span>
       <span>
           <input type="checkbox">
           <label for="">Tonic</label>
       </span>
       </div>
    </div>
    <div id="right"></div>
    </div>
